@font-face {
    font-family: "FiraGO";
    src: url("font/FiraGO/FiraGO_TTF_1001/Roman/FiraGO-Regular.ttf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: gray;
    font-family: "FiraGO", sans-serif;
}

.calculator {
    width: 330px;
    cursor: default;
    background: #E6E6E6;
}

.display {
    height: 80px;
    font-size: 32pt;
    text-align: right;
    line-height: 2.4;
    padding-right: 7px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 380px;
}

.button {
    background: #F0F0F0;
    width: 24%;
    height: 16%;
    text-align: center;
    line-height: 2.6;
    font-size: 18pt;
}

.button:hover {
    background: #B1B1B1;
}

.number {
    background: white;
    font-weight: bold;
}

.sum {
    background: #7EAED3;
}

.sum:hover {
    background: #5787AC;
}